$main-color: #FFFAEE;
$main-color2: #D1B061;
$main-color3: #f3daaba4;
$secondary-color: #EF8354;
$t-color: #1D1E2C;
$font-family2: 'Arsenal', sans-serif;
$hover-font: #E7C585;


$petal: #937f66;
$premium: #534333;
$crown: #e57717;
$nandu-red: #ae251b;




$body-bg: #0f0f0f;
$red-color: #ff0000;

$orange-color: #f7a072;
$btn-color: #00a7e1;
$orange-color2: #ff9b42;
$voilet-color: #e3d7ff;
$dark-blue: #415A77;
$light-blue: #778DA9;
$txt-color: #fff;
$white : #FFF;
$black: #000;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow3: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow4: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1025px;

$font-family: "Montserrat", sans-serif;