@use './scss/' as *;

.about {
    height: 100%;

    h1 {
        font-size: 2rem;
        padding: 20px 0; 
        font-weight: 600;
        color: $premium;
        text-align: center;

    }

    background-color: $main-color;
    padding: 10px 0;

    .container {
        padding: 2rem 0;

        // background-color: white;
        .box {
            background-color: #e4c2996c;
            color: $premium;
            font-weight: 550;
            margin: 3rem 10rem;
            height: 300px;
            box-shadow: $box-shadow;

            &:hover {
                transform: scale(1.01);
                transition: 0.3s ease-in-out;
            }

            p {
                font-size: 30px;
                margin: 0 20px;
                font-family: $font-family2;
            }

            img {
                box-shadow: $box-shadow4;
            }
        }

        .box2 {
            img {
                float: right;
                width: 300px;
                transform: translate(30px, -30px);
            }

        }

        .box1 {
            img {
                float: left;
                width: 350px;
                transform: translate(-20px, -20px);
            }
        }

        .box3 {
            img {
                float: left;
                width: 400px;
                transform: translate(-30px, -20px);
            }
        }
    }
}