@use './scss/' as *;

.page_header {
    padding: 0 2%;
    background-color: white;
    .header_content {
        padding: 5px 1%;
        min-height: 65px;
        @include flex(center, space-between);

        .logo {
            img {
                width: 65px;
            }
        }

        .search_box {
            max-width: 500px;
            background-color: white;
            @include flex(center, center);
            width: 100%;
            // border-radius: 6px;
            height: 40px;
            border-bottom: $main-color2 1px solid;

            input {
                // border-radius: 6px;
                width: 100%;
                border: none;
                font-size: 16px;
                width: 100%;
                outline: none;
                padding-left: 10px;

            }

            button {
                border: 0;
                outline: none;
                background-color: white;
                padding-right: 10px;
                .icon{
                    font-size: 22px;
                    color: $main-color2;
                }
            }
        }

        .quick_links {
            @include flex(center, center);
            gap: 20px;
        font-family: $font-family2;

            color: $main-color2;
            font-weight: bold;
            a {
                @include flex(center, center);
                gap: 10px;

                align-self: center;
                
                svg{
                    font-size: 20px;
                }
            }
        }
    }

    .header-nav{
        // background-color: $main-color2;
        padding: 10px;

        font-family: $font-family2;
        
        ul{
            @include flex(center,center);
            flex-direction: row;
            gap: 40px;
            font-size: 18px;
            color: $main-color2;
            font-weight: bold;
            li{
                padding: 2px 4px;
                &:hover{
                    color: $hover-font;
                }
            }

        }
    }
}