@use './scss/' as *;
.slider-container {
    width: 100%;
    // padding: 20px 0;
    // background-color: white;
    // height: 60vh;
    // background-color: coral;
    overflow: hidden;
    display: flex;
    position: relative;

    .arrow {
        z-index: 2;
        width: 50px;
        height: 50px;
        background-color: #fff7f7;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        opacity: 0.7;
    }

    .arrow.left {
        left: 10px;
    }

    .arrow.right {
        right: 10px;
    }

    .wrapper {
        height: 100%;
        display: flex;
        transform: translateX(0vw);
        transition: all 1.5s ease;
        gap: .1rem;
        // margin: 0 10px;
        background-color: $main-color2;

        .slide {
            display: flex;
            // align-items: center;
            // width: 100vw;

            .image-container {
                width: 50vw;
                height: 470px;

                @include mobile {
                    width: 100vw;
                    height: 39rem;
                }

                // flex: 1;

                // img {
                //     width: 500px;
                //     height: auto;

                // }
            }

            .info-container {
                flex: 1;
                // padding: 50px;

                .title {
                    font-size: 70px;
                    margin-bottom: 20px;
                }

                .desc {
                    font-size: 20px;
                    font-weight: 500;
                    margin: 50px 0;
                    letter-spacing: 3px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 20px;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}